* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.underline {
  width: 100px;
  height: 2px;
  border: 1px solid #2250fc;
  margin: 20px 0 30px;
}

.background-gray {
  background-color: #f7f9fb !important;
}

.btn, .btn-primary {
  background-color: #2250fc !important;
  border-color: #2250fc !important;
  font-size: 12px !important;
  padding: 10px 18px !important;
  opacity: 0.9;
}

.btn-primary:hover {
  opacity: 1;
}

a:hover {
  text-decoration: none !important;
}

body {
  font-family: sans-serif;
}

body header {
  min-height: 650px;
}

body header .navbar {
  background-color: white;
  height: 80px;
  padding: 10px 30px;
}

body header .navbar a {
  color: #121111;
}

body header .navbar .navbar-brand {
  font-size: 40px;
  font-weight: 800;
}

body header .navbar .nav-item {
  font-size: 12px;
  padding-left: 10px;
}

body header .navbar .nav-item a:hover {
  color: #2250fc !important;
}

body header .navbar .nav-item sup {
  padding-left: 3px;
}

body header .banner {
  min-height: 650px;
}

body header .banner .video-block {
  height: 650px;
  z-index: 40;
}

body header .banner .video-block video {
  -o-object-fit: cover;
     object-fit: cover;
}

body header .banner .overlay {
  height: 650px;
  background-color: black !important;
  z-index: 50;
  opacity: 0.3;
}

body header .banner .container-block {
  z-index: 90;
}

body header .banner .container-block .container h6 {
  font-size: 80px;
  letter-spacing: 1px;
  font-weight: 600;
}

body header .banner .container-block .container p {
  font-size: 23px;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #777;
}

body header .banner .container-block .container p {
  color: white;
}

body header .banner .container-block .container .btn {
  width: 20%;
}

body .welcome {
  min-height: 800px;
}

body .welcome .container {
  padding-top: 80px;
}

body .welcome .container h6 {
  font-size: 48px;
  letter-spacing: -0.7px;
}

body .welcome .container p {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #484848;
}

body .what-we-do {
  padding: 0 80px;
  min-height: 570px;
}

body .what-we-do .container h2 {
  font-size: 48px;
}

body .what-we-do .container p {
  font-size: 18px;
  font-weight: 300;
  color: #484848;
}

body .what-we-do .container .row {
  padding-top: 20px;
}

body .what-we-do .container .row p {
  font-size: 14px;
  color: #777;
  font-weight: 400;
  letter-spacing: 0.5px;
}

body .recent-work {
  min-height: 750px;
}

body .recent-work .container h6 {
  font-size: 48px;
  letter-spacing: 1px;
  font-weight: 600;
}

body .recent-work .container p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #777;
}

body .recent-work .products .col {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body .recent-work .products .col .overlay {
  position: absolute;
  z-index: -1;
}

body .recent-work .products .col img {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

body .recent-work .products .col:hover .overlay {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

body .recent-work .products .col:hover .zoom {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body .recent-work .products .col:hover .slider {
  width: 100%;
}

body .recent-work .products .col:hover .slider .right, body .recent-work .products .col:hover .slider .left {
  width: 40px;
  height: 40px;
  background-color: white;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

body .recent-work .products .col:hover .slider .right a, body .recent-work .products .col:hover .slider .left a {
  font-size: 15px;
  color: #434141;
  line-height: 40px;
}

body .recent-work .products .col:hover .slider .right:hover, body .recent-work .products .col:hover .slider .left:hover {
  background-color: #2250fc;
}

body .recent-work .products .col:hover .slider .right:hover a, body .recent-work .products .col:hover .slider .left:hover a {
  color: white;
}

body .recent-work .products .col:hover .paragh {
  color: white;
}

body .services {
  min-height: 850px;
}

body .services .container .row .col-4 .icon {
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 2;
  color: #333;
  border: 2px solid #333;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

body .services .container .row .col-4 .icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-animation: transform 1s;
          animation: transform 1s;
}

body .services .container .row .col-4 .col-body {
  width: 80%;
}

body .services .container .row .col-4 .col-body h6 {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
}

body .services .container .row .col-4 .col-body p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #777;
}

body .banner {
  background: url(../../images/12.jpg);
  z-index: 20;
  min-height: 470px;
  overflow: hidden;
}

body .banner .overlay {
  z-index: 25;
  background-color: black;
  opacity: 0.5;
}

body .banner .container {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50;
  color: white !important;
}

body .banner .container .row .col-3 .underline {
  width: 10%;
  border: 0.5px solid white;
  margin-bottom: 10px;
}

body .blogs .container {
  padding: 100px 0;
}

body .blogs .container h6 {
  font-size: 48px;
  letter-spacing: 1px;
  font-weight: 600;
}

body .blogs .container p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #777;
}

body .blogs .container p {
  letter-spacing: 0.5px;
  color: #484848;
  line-height: 1.4;
}

body .blogs .container .row-container .header-img .btn {
  right: 5px;
  top: 10px;
}

body .blogs .container .row-container .header-img .btn a {
  font-size: 13px;
  color: white;
  letter-spacing: 0.5px;
  text-decoration: none;
}

body .blogs .container .row-container .row .col .col-body {
  background: white;
}

body .blogs .container .row-container .row .col .col-body h6 {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
}

body .blogs .container .row-container .row .col .col-body p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #777;
}

body .blogs .container .row-container .row .col .col-body .date p {
  font-size: 12px;
  color: #c2c2c2;
}

body .blogs .container .row-container .row .col .col-body .read-more {
  font-size: 12px;
}

body .blogs .container .row-container .row .col .col-body a {
  color: inherit;
}

body .blogs .container .row-container .row .col .col-body a:hover {
  color: #007bff;
}

body .blogs .container .row-container .row .col .col-body a:hover span {
  padding-left: 10px !important;
}

body .clints {
  min-height: 400px;
}

body .clints .container {
  width: 100%;
}

body .clints .container h6 {
  font-size: 48px;
  letter-spacing: 1px;
  font-weight: 600;
}

body .clints .container p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #777;
}

body .clints .container .row-container .row .col {
  padding: 25px;
}

body .team .container h6 {
  font-size: 48px;
  letter-spacing: 1px;
  font-weight: 600;
}

body .team .container p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #777;
}

body .team .container .row .col .header-img {
  overflow: hidden;
}

body .team .container .row .col h6 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

body .team .container .row .col p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #777;
}

body .team .container .row .col .jop-tittle {
  font-size: 13px;
  color: #bbbbbb;
}

body .team .container .row .col .social-links .icon {
  border: 1px solid #e6e8eb;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
}

body .team .container .row .col .social-links .icon a {
  color: #4c5667;
}

body footer {
  min-height: 500px;
}

body footer .container .polo-templet {
  width: 45%;
}

body footer .container .polo-templet h6 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
}

body footer .container .polo-templet p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #777;
}

body footer .container .polo-templet h6 {
  color: #484848;
}

body footer .container .polo-templet p {
  width: 60%;
  letter-spacing: normal;
}

body footer .container .row-container {
  width: 55%;
  font-size: 14px;
}

body footer .container .row-container .col {
  line-height: 2.5;
}

body footer .container .row-container .col a, body footer .container .row-container .col h6 {
  letter-spacing: 0.7px !important;
  color: #484848 !important;
}

body footer .container .row-container .col h6 {
  font-size: 14px;
}

body footer .container .row-container .col a {
  font-weight: 300 !important;
}

body footer .container .row-container .col a:hover {
  color: #2250fc !important;
}

body .copy-rights {
  height: 80px;
  background-color: #eff1f4;
}

body .copy-rights a {
  color: inherit;
}

body .copy-rights a:hover {
  color: #2250fc;
}

body .go-to-top {
  background-color: rgba(72, 71, 71, 0.3);
  width: 40px;
  height: 40px;
  z-index: 1000;
  bottom: 30px;
  right: 30px;
  line-height: 37px;
}

body .go-to-top a {
  color: white;
  font-size: 14px;
}

body .go-to-top:hover {
  background-color: #2250fc;
}
/*# sourceMappingURL=style.css.map */