*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.underline {
    width: 100px;
    height: 2px;
    border: 1px solid #2250fc;
    margin: 20px 0 30px;
}
.background-gray{
    background-color: #f7f9fb!important;
}
@mixin general-paragraphe($hr-size, $p-size) {
    h6{
        font-size: $hr-size;
        letter-spacing: 1px;
        font-weight: 600;
    }
    p{
        font-size: $p-size;
        font-weight: 300;
        line-height: 1.7;
        letter-spacing: 1px;
        color: #777;
    }
}
//////////////////////////////////////////////////////////
.btn, .btn-primary{
    background-color: #2250fc !important;
    border-color: #2250fc !important;
    font-size: 12px !important;
    padding: 10px 18px !important;
    opacity: 0.9;
}
.btn-primary:hover{
    opacity: 1;
}
a:hover{
    text-decoration: none !important;
}
/////////////////////////////////////////////////////////
body{
    font-family: sans-serif;
    header{
        min-height: 650px;
        .navbar{
            background-color: white;
            height: 80px;
            padding: 10px 30px;
            a{
                color: rgb(18, 17, 17);
            }
            .navbar-brand{
                font-size: 40px;
                font-weight: 800;
            }
            .nav-item{
                font-size: 12px;
                padding-left: 10px;
                a:hover{
                    color: #2250fc !important;
                }
                sup{
                    padding-left: 3px;
                }
            }
        }
        .banner{
            min-height: 650px;
            .video-block{
                height: 650px;
                z-index: 40;
                video{
                    object-fit: cover;;
                }
            }
            .overlay{
                height: 650px;
                background-color: black !important;
                z-index: 50;
                opacity: 0.3;
            }
            .container-block{
                z-index: 90;
                .container{
                    @include general-paragraphe(80px, 23px);
                    p{
                        color: white;
                    }
                    .btn{
                        width: 20%;
                    }
                }
            }
        }
    }
    
    .welcome{
        min-height: 800px;
        .container{
            padding-top: 80px;
            h6{
                font-size: 48px;
                letter-spacing: -0.7px;
            }
            p{
                font-size: 18px;
                font-weight: 300;
                letter-spacing: 0.5px;
                color: #484848;
            }
        }
    }

    .what-we-do{
        padding: 0 80px;
        min-height: 570px;
        .container{
            h2{
                font-size: 48px;
            }
            p{
                font-size: 18px;
                font-weight: 300;
                color: #484848;
            }
            .row{
                padding-top: 20px;

                p{
                    font-size: 14px;
                    color: #777;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                }
            }
        }
    }

    .recent-work{
        min-height: 750px;
        .container{
            @include general-paragraphe(48px, 18px)
        }
        .products{
            .col{
                padding: 0;
                margin: 0;
                overflow: hidden;
                .overlay{
                    position: absolute;
                    z-index: -1;
                }
                img{
                    transition: transform .2s;
                }
            }
            .col:hover{
                .overlay{
                    z-index: 100;
                    background-color: rgba($color: #000000, $alpha: 0.5);
                }
                .zoom{
                    transform: scale(1.5);
                }
                .slider{
                    width: 100%;
                    .right, .left{
                        width: 40px;
                        height: 40px;
                        background-color: white;
                        box-shadow: 0 0 15px rgba(0,0,0,.1);
                        a{
                            font-size: 15px;
                            color: rgb(67, 65, 65);
                            line-height: 40px;
                        }
                    }
                    .right:hover, .left:hover{
                        a{
                            color: white;
                        }
                        background-color: #2250fc;
                    }
                }
                .paragh{
                    color: white;
                }
            }
        }
    }

    .services{
        min-height: 850px;
        .container{
            .row{
                .col-4{
                    .icon{
                        text-align: center;
                        width: 40px;
                        height: 40px;
                        line-height: 2;
                        color: #333;
                        border: 2px solid #333;
                        transition: transform .2s;
                    }
                    .icon:hover {
                        transform: scale(1.5); 
                        animation: transform 1s ;
                      }
                    .col-body{
                        width: 80%;
                        @include general-paragraphe(18px, 14px)
                    }
                }
            }
        }
    }

    .banner{
        background: url(../../images/12.jpg);
        z-index: 20;
        min-height: 470px;
        overflow: hidden;

        .overlay{
            z-index: 25;
            background-color: black;
            opacity: 0.5;
        }
        .container{
            top:0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 50;
            color: white !important;
            .row{
                .col-3{
                    .underline{
                        width: 10%;
                        border: 0.5px solid white;
                        margin-bottom: 10px;
                    } 
                }
            }
        }
    }

    .blogs{
        .container{
            padding: 100px 0;
            @include general-paragraphe(48px, 18px);
            p{
                letter-spacing: 0.5px;
                color: #484848;
                line-height: 1.4;
            }
            .row-container{
                .header-img{
                    .btn{
                        a{
                            font-size: 13px;
                            color: white;
                            letter-spacing: 0.5px;
                            text-decoration: none;
                        }
                        right: 5px;
                        top: 10px;
                    }
                }
                .row{
                    .col{
                        .col-body{
                            @include general-paragraphe(18px, 14px);
                            background: white;
                            .date p{
                                font-size: 12px;
                                color: #c2c2c2;
                            }
                            .read-more{
                                font-size: 12px;
                            }
                            a{
                                color: inherit;
                            }
                            a:hover{
                                color: #007bff;
                                span{
                                    padding-left: 10px !important;
                                }
                            }
                       }
                    }
                }
            }
        }
    }

    .clints{
        min-height: 400px;
        .container{
            @include general-paragraphe(48px, 18px);
            width: 100%;
            .row-container{
                .row{
                    .col{
                       padding: 25px;
                    }  
                }
            }
        }
    }

    .team{
        .container{
            @include general-paragraphe(48px, 18px);
            .row{
                .col{
                    .header-img{
                        overflow: hidden;
                    }
                    @include general-paragraphe(16px, 14px);
                    .jop-tittle{
                        font-size: 13px;
                        color: #bbbbbb;
                    }
                    .social-links{
                        .icon{
                            border: 1px solid #e6e8eb;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            font-size: 10px;
                            line-height: 20px;
                            a{
                                color: #4c5667;
                            }
                        }
                    }
                }
            }
        }
    }

    footer{
        min-height: 500px;
        .container{
            .polo-templet{
                width: 45%;
                @include general-paragraphe(14px, 14px);
                h6{
                    color: #484848;
                }
                p{
                    width: 60%;
                    letter-spacing: normal;
                }
            }
            .row-container{
                width: 55%;
                font-size: 14px;
                .col{
                    line-height: 2.5;
                    a, h6{
                        letter-spacing: 0.7px !important;
                        color: #484848 !important;
                    }
                    h6{
                        font-size: 14px;
                    }
                    a{
                        font-weight: 300 !important;
                    }
                    a:hover{
                        color: #2250fc !important;
                    }
                }
            }
        }
    }

    .copy-rights{
        height: 80px;
        background-color: #eff1f4;
        a{
            color: inherit;
        }
        a:hover{
            color: #2250fc;
        }
    }

    .go-to-top{
        background-color: rgba($color: #484747, $alpha: 0.3);
        width: 40px;
        height: 40px;
        z-index: 1000;
        bottom: 30px;
        right: 30px;
        line-height: 37px;
        a{
            color: white;
            font-size: 14px;
        }
    }
    .go-to-top:hover{
        background-color: #2250fc;
    }
}