/****************** reset style ******************/
*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    background-size: cover;
}

/****************** global style ******************/
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 1100px;
    margin: auto;
    height: 100%;
}
.dark-bg{
    background: #242323;
}
.light-bg{
    background: #2c2c2c;
}
.hidden{
    visibility: hidden;
}
.no-border{
    border: none !important;
}
.fix-clear{
    clear: both;
}
.row {
    overflow: hidden;
}
.column {
    float: left;
    padding: 0 1%;
}
.column-2 {
    width: 48%;
}
.column-4 {
    width: 23%;
}
.column-3{
    width: 30%;
}
.link-hover a:hover{
    color: #f14201 !important;
    padding-bottom: 2px;
    border-bottom: 1px solid #f14201 !important;
}
