*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    list-style: none;
    text-decoration: none; 
}
body{
    font-family: Arial;
}
.btn{
    background-color: rgb(112, 0, 0);
    float: left;
    font-size: 12px;
    color: white;
    font-weight: bold;
    padding: 7px 15px;
    border-radius: 7px;
}
.top-heading{
    font-size: 25px;
    color: rgb(0, 80, 4);
    margin-bottom: 10px;
}
h6{
    color: rgb(19, 36, 110);
}
li{
    display: inline;
    list-style: none;
    margin-right: 15px;
}
a{
    border-right: 2px solid rgb(225, 0, 0);
    padding-right: 15px;
    color: black;
    font-size: 13px;
}
.no-border{
    border: none !important;
}

/* start wrapper */
.wrapper{
    width: 1200px;
    min-height: 600px;
    margin: auto;
}
/* start page-wrapper */
.wrapper .page-wrapper{
    width: 900px;
    margin: auto;
}

/* start header */
.wrapper .page-wrapper header{
    overflow: hidden;
    padding: 15px 0;
}
.wrapper .page-wrapper header .logo{
    float: left;
    width: 25%;
}
.wrapper .page-wrapper header nav{
    float: right;
    width: 70%;
}
.wrapper .page-wrapper header nav ul{
    float: right;
    line-height: 45px;
}
/* end header */

/* start banner */
.wrapper .page-wrapper .banner{
    background-image: url(../images/banner.png);
    height: 202px;
}
.wrapper .page-wrapper .banner p{
    font-size: 25px;
    width: 50%;
    float: right;
    margin-top: 80px;
}
.wrapper .page-wrapper .banner p span{
    font-size: 38px;
    color: rgb(0, 80, 4);
}
/* end banner */

/* start main */
.wrapper .page-wrapper main{
    overflow: hidden;
    margin: 20px 0;
}
/* start content*/
.wrapper .page-wrapper main .content{
    width: 55%;
    float: left;
}
/* start welcome*/
.wrapper .page-wrapper main .content .welcome{
    overflow: hidden;
}
.wrapper .page-wrapper main .content .welcome h6{
    font-size: 13px;
}
.wrapper .page-wrapper main .content .welcome p{
    color: rgb(153, 157, 116);
    margin-bottom: 10px;
}
/* end welcome*/

/* start sub-content*/
.wrapper .page-wrapper main .content .sub-content {
    margin-top: 20px;
    overflow: hidden;
}
/* start gallery*/
.wrapper .page-wrapper main .content .sub-content .gallery{
    width: 45%;
    float: left;
    border-right: 2px dotted rgb(178, 180, 163);
    padding-right: 4%;
}
.wrapper .page-wrapper main .content .sub-content .gallery .art-images{
    overflow: hidden;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    
}
.wrapper .page-wrapper main .content .sub-content .gallery .art-images img{
    width: 46%;
    margin: 5px 2%;
    float: left;
}
/* end gallery*/

/* start tips*/
.wrapper .page-wrapper main .content .sub-content .tips{
    width: 45%;
    float: right;
}
.wrapper .page-wrapper main .content .sub-content .tips h6{
    width: 75%;
 }
 .wrapper .page-wrapper main .content .sub-content .tips p{
   padding-top: 10px;
   color: rgb(153, 157, 116);
   width: 75%;
}
/* end tips*/
/* end sub-content*/
/* end content*/

/* start news*/
.wrapper .page-wrapper main .news{
    width: 40%;
    float: right;
}
.wrapper .page-wrapper main .news .update{
    padding: 15px;
    border: 5px solid rgb(251, 216, 144);
    background-color: rgb(250, 239, 220);
}

.wrapper .page-wrapper main .news .update .new-update{
    padding: 10px 0;
}
.wrapper .page-wrapper main .news .update .new-update p{
    color: rgb(193, 56, 0);
    font-size: 13px;
    padding-top: 5px;
}

.wrapper .page-wrapper main .news .best{
    margin-top: 25px;
    height: 111px;
    background-image: url(../images/best.png);
    
}
.wrapper .page-wrapper main .news .best p{
    text-align: center;
    padding-top: 80px;
}
.wrapper .page-wrapper main .news .best p a{
    text-decoration: underline;
    color: rgb(0, 87, 41);
}
/* end news*/
/* end main */

/* start footer*/
.wrapper footer{
    background-color: rgb(160, 54, 0);
    min-height: 111px;
}
.wrapper footer .sub-footer{
    margin: auto;
    width: 900px;
    padding-top: 50px;
}
.wrapper footer .sub-footer ul{
    color: white;
    margin-bottom: 10px;
    text-align: center;
}
.wrapper footer .sub-footer ul li a{
    color: white;
    border-color: white;
}
.wrapper footer .sub-footer p{
    color: rgb(194, 193, 193);
    font-size: 11px;
    text-align: center;
}
/* end footer*/
/* end page-wrapper */
/* end wrapper */